# ===== Ejecutables =====
*.exe
*.out
*.app
a.out

# ===== Objetos =====
*.o
*.obj

# ===== Archivos temporales =====
*.txt

# ===== Carpetas de compilación =====
/bin/
/obj/
/build/

# ===== Ejecutables comunes sin extensión =====
areaexe
areaexeclear
fact
primer_programa
arr
prueba1
prueba
